Aiko-Server/Aiko-Server
Aiko-Server/Aiko-Server*
Aiko-Server/mytest
Aiko-Server/access.logo
Aiko-Server/error.log
api/chooseparser.go.bak
common/Inboundbuilder/.lego/
common/legocmd/.lego/
.vscode/launch.json
Aiko-Server/.lego
Aiko-Server/cert
Aiko-Server/aiko.yml 
./vscode
.idea/*